nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background:  #F4F7F6;
    color: black;
    border-bottom: 1px #E6EAEA solid;
}
.navLinks{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
