.classesList {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.classContainer {
    border-bottom: black 2px solid;
    width: 95%;
}

.studList {
    flex-wrap: wrap;
    display: flex;
}
.studList ul{
  list-style-type: none;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: px;
  margin: 1em;
  padding: 0;
}
.classArrow{
    cursor: pointer;
}