.nextCourseInfosTeacher{
    width: 100%;
    height: 200px;
    border: 2px solid red;
}
.teacherPanel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nextCourseTeacher{
    width: 50%;
    height: 200px;
}