.adminPanel{
    display: flex;
    width: 100%;
    height:93.9vh;
    z-index: 1;
}
.left, .right{
    background-color:#F4F7F6;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.left{
    border-right: #E6EAEA 1px solid;
}
.panelUsersNav{
    text-align: center;
    width: 90%;
    border-bottom: #E6EAEA 1px solid;
    font-size: 20px;
    font-weight: 500;
}