.adminPanel{
    width: 100%;
    height:89vh;
    /* border: 2px green solid; */
}
.container{
    display: flex;
    height: 100%;
}
.left, .right{
    background-color:whitesmoke;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.left{
    border-right: black 2px solid;
}