.createUser{
    position:absolute;
    width: 50%;
    height: 50%;
    border-radius: 7px;
    background-color: #3F3F4B;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}