nav {
    display: flex;
    justify-content: center;
    height: 6vh;
    background: #239BEB;
    color: rgb(255, 255, 255);
    border-bottom: 1px #E6EAEA solid;
    
}
.navLinks {
    display: flex;
    width: 10vw;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.navCtnr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80vw;

}
nav  img.resize {

    width:48px;
    height:48px;
  
  }

