body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #26262B;
}

html {
  height: 100%;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button:active {
  outline: 0;
}

input {
  -webkit-appearance: textfield;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.loader {
  display: flex;
  width: 99%;
  height: 99%;
  align-items: center;
  justify-content: center;
}

#app {
  padding: 20px;
  font-family: robot, arial
}
.Line {
  fill: #000;
  fill-opacity: 0.3;
}

.lineChart path {
  stroke: steelblue;
  stroke-width: 2px;
  fill: none;
}

.lineChart  .axis {
  stroke: #000;
}

.lineChart  .axis-labels text {
  fill: #000;
  fill-opacity: 0.9;
  font-size: 12px;
  text-anchor: middle;
}

.lineChart  .axis-labels line {
  stroke: #000;
}

.lineChart  .gridline {
  opacity: 0.2;
}