#users {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}
#users .trBtn{
    width: 150px;
    display: flex;
    justify-content: space-between;
    

}
.tdBtn{
    cursor: pointer;
    transition: .4s;
}
.delUsers:hover{
    color:#DD2D4A;
    transition:.2s;
}
.editUsers:hover{
    color:rgb(151, 45, 221);
    transition:.2s
}


.trBtnCtnr{
    display: flex;
    justify-content: center;
}

#users td, #users th {

    border: 1px solid #ddd;
    padding: 8px;

}

#users tr:nth-child(even) {
    background-color: #f2f2f2;
}

#users tr:hover {
    background-color: #ddd;
}

#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(96, 96, 112);
    color: white;
}

